@import '../../../styles/index.scss';

._main {
  width: 100%;
  padding: 2% 3%;
  box-sizing: border-box;
  position: relative;
}

._desktop {
  display: block;
}

._responsive {
  display: none;
}

@include responsive(md) {
  ._imageSlider {
    margin: 0 auto; /* it centers any block level element */
  }

  ._desktop {
    display: none;
  }
  
  ._responsive {
    display: block;
    margin-bottom: 5%;
  }
}
