@import '../../../styles/index.scss';

._main {
  display: block;
  width: 100%;
  padding: 2% 3%;
  box-sizing: border-box;
  position: relative;
}

._slide {
  width: auto;
  margin: 0 auto;
}

._mainResponsive {
  display: none;
}

// ._desktop {
//   display: block;
//   width: 100%;
//   padding: 2% 3%;
//   box-sizing: border-box;
//   position: relative;
// }

// ._responsive {
//   display: none;
// }

// ._imageSlider {
//   width: auto;
//   // margin: 0 auto; /* it centers any block level element */
// }

@include responsive(md) {

  ._main {
    display: none;
  }
  
  ._mainResponsive {
    display: block;
    margin-bottom: 5%;
  }
}
