._header {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  padding: 0 3%;
  height: 80px;
}

._logoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

._listNav{
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  li{
    cursor: pointer;
  }
}

._socialContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

._socialItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  cursor: pointer;
}
