@import '../../../styles/index.scss';

._header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  height: 80px;
  font-family: 'NormalFont', sans-serif;
}

._logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

._listNav {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  li {
    cursor: pointer;
    margin: 0 1.5rem;
  }
}

._socialContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

._socialItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

._listItem{
  transition: all 1s;
  border-bottom: 0.18rem solid transparent;
}

._mobileIcon {
  cursor: pointer;
}
._navMobile {
  display: none;
}
@include responsive(md) {
  ._navMobile {
    display: block;
  }
  ._navContainer {
    display: none;
  }
  ._socialContainer {
    display: none;
  }
}
