._main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  padding: 3%;
}

._bannerMain {
  width: 70%;
  height: auto;
}
